.cardinfo-portlet {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
  // background-color: #ffffff;
  margin-bottom: 0px;
  border-radius: 0.75rem;
  border: 1px solid #ebedf2;
}

.cardinfo-iconbox {
  padding: 0.75rem;
}

.cardinfo-portlet .cardinfo-portlet__body {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.cardinfo-iconbox .cardinfo-iconbox__body {
  display: flex;
  flex-wrap: nowrap;
}

.cardinfo-iconbox .cardinfo-iconbox__body .cardinfo-iconbox__icon {
  flex: 0 0 50px;
  padding-right: 5px;
  padding-top: 0.2rem;
  padding-left: 0.2rem;
  color: #6c757d;
}

.cardinfo-iconbox .cardinfo-iconbox__body .cardinfo-iconbox__maintext {
  flex: 0 0 50px;
  padding-right: 5px;
  padding-top: 0.2rem;
  padding-left: 0.2rem;
  padding-right: 1.5rem;
  color: #023345;
  font-weight: 600;
  font-size: 28px;
}

.cardinfo-iconbox .cardinfo-iconbox__body .cardinfo-iconbox__desc {
  display: flex;
  flex-direction: column;
}

.cardinfo-iconbox
  .cardinfo-iconbox__body
  .cardinfo-iconbox__desc
  .cardinfo-iconbox__title {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0.1rem;
  color: #000000;
}

.cardinfo-link {
  text-decoration: none;
  position: relative;
  display: inline-block;
  color: #023345;
}

.cardinfo-iconbox
  .cardinfo-iconbox__body
  .cardinfo-iconbox__desc
  .cardinfo-iconbox__content {
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  color: #555b60;
}

.cardinfo-iconbox .cardinfo-iconbox__actions__button {
  margin: auto 0 auto auto;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  // color: #2c77f4;
  // background-color: rgba(44, 119, 244, 0.15);
}
.cardinfo-iconbox .cardinfo-iconbox__actions__icon {
  margin: auto 0 auto auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
