@dcam:registry=https://pkgs.dev.azure.com/fdoh-dchp/9dbad8cf-c24d-4a66-8b8b-634abf2743be/_packaging/dcam-npm/npm/registry/                      
always-auth=true
registry=https://registry.npmjs.org
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=B5220549-36C4-44A3-AF5C-152CA86E4421