.AppCard {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 2px 21px 6px rgba(0, 0, 0, 0.03);

  .cardHeader {
    padding: 20px 20px 0px 20px;
    display: flex;
    align-items: center;
  }
  .infoBox {
    margin-left: 10px;
    cursor: pointer;
  }
  .title {
    font-size: 18px;
    font-weight: 700;
  }

  .cardBody {
    padding: 20px;
  }
  &.marginTop {
    margin-top: 20px;
  }
  &.marginBottom {
    margin-bottom: 20px;
  }
  .action {
    margin-left: 10px;
    justify-content: end;
  }
}
