.AppNavbar {
  width: 100%;
  height: 116px;
  display: flex;
  align-items: center;
  padding: 0px 40px;
  background: #fff;
  box-shadow: 4px 9px 6px rgba(0, 0, 0, 0.06);
  .section-title {
    font-size: 34px;
    font-weight: 600;
  }
  .menu-items {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
  }
  .menu-item {
    display: flex;
    height: 46px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    color: #007caf;
    font-size: 14px;
    padding: 0px 30px;
    border-radius: 50px;
    &:hover {
      opacity: 0.8;
      background-color: #f4f5f6;
      border-color: #ebedf2;
    }
    a {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      color: #007caf;
      text-decoration: none;
    }
  }
}
