.AppSingleRowCard {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  align-items: center;
  padding: 12px 20px;
  border-radius: 5px;
  border-left: 6px solid #d9f5ff;
  background: #fff;
  &:hover {
    background-color: #f9fdff;
  }
  &.disabled {
    pointer-events: none;
    border-left: 6px solid #ebedf2;
  }
  .card-content {
    display: flex;
    flex: 1;
    flex-shrink: 0;
    flex-wrap: nowrap;
    gap: 15px;
    overflow-x: auto;

    .column-item {
      display: flex;
      gap: 7px;
      align-items: center;
      min-width: 200px;
      text-overflow: ellipsis;
      text-wrap: nowrap;
    }
  }
  .card-action {
    margin-left: auto;
  }
}
